<!DOCTYPE html>
<html lang="en">
<head>
  <title>POSTURE USA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;

      img{

        height: 150px;
      }
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1 style="background-color:#FFFFFF;">POSTURE USA<img src= "clear global.jpg" alt="clear global> </h1>      
    <p><i>We believe in maintaining posture in every avenue of this life we live..We believe that posture is a lifestyle and soon to be a movement made to promote correctness proactivity and discipline</i></p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">T-shirts</a></li>
        <li><a href="#">Bags</a></li>
        <li><a href="#">Sweats</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">NIKE X POSTURE</div>
        <div class="panel-body"><img src=NIKE.JPG class="img-responsive" style="width:100%" alt="NIKE"></div>
        <div class="panel-footer">HONOR IS THE CODE</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">REEBOK X POSTURE</div>
        <div class="panel-body"><img src="cardishoe.jpg" class="img-responsive" style="width:100%" alt="cardishoe"></div>
        <div class="panel-footer">HONOR IS THE CODE</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">ADIDAS X POSTURE</div>
        <div class="panel-body"><img src="hu_adidas.jpg" class="img-responsive" style="width:100%" alt="hu_adidas"></div>
        <div class="panel-footer">HONOR IS THE CODE</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"> POSTURE CREW NECKS</div>
        <div class="panel-body"><img src="crew2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Honor is the code</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">POSTURE CREW NECKS</div>
        <div class="panel-body"><img src="crewneck.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Honor is the code</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">POSTURE CREW NECK</div>
        <div class="panel-body"><img src="sweater.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Honor is the code</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
